@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Config. General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: white;
  font-family: 'Open Sans', sans-serif;
  
}


/* ------------------- OPEN - HEADER -------------------- */

/* Contenedor Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
    z-index: 1000;
}

/* Contacto */
.header .contacto a {
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

.header .contacto i {
    color: white;
}

.header .contacto a:hover {
    color: #4caf50;
}

/* Redes Sociales */
.header .red-social i {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.header .red-social i:hover {
    color: #4caf50;
}

/* ------------------- CLOSE - HEADER -------------------- */


/* ------------------- OPEN - NAVEGADOR -------------------- */

.navbar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    z-index: 1000;
    box-shadow:  0px 2px 8px 0 gray;
}

/* Logotipo */
.navbar .logo img {
    width: 200px;
    height: 50px;
}

/* Links */
.navbar .links{
    display: flex;
    gap: 2rem; /*Espacio entre elementos secundarios (hijos) flexible. El valor 2rem indica que habrá un espacio de 2 unidades de tamaño de la fuente. También prodíamos poner en pixeles*/
}

.navbar .links li {
    list-style: none;
}
.navbar .links a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navbar .links a:hover {
    color: #4caf50;
}
.navbar .links i {
    color: black;
    font-size: 18px;
}
.navbar .links i:hover {
    color: #4caf50;
    cursor: pointer;
}
/* CONTENEDOR ICONOS */
.navbar .container_icon {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

/* Buscador interno */
.navbar .container_icon .search-bar form {
    display: flex;
    align-items: center;
}

.navbar .container_icon .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar .container_icon .search-bar button {
    padding: 8px;
    background-color: transparent;
    color: black; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar .container_icon .search-bar button:hover {
    color: #4caf50;
}

/* Icono Carrito */
.navbar .container_icon .cart-icon {
    margin-left: 10px; 
}

.navbar .container_icon .cart-icon a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
}

.navbar .container_icon .cart-icon a:hover {
    color: #4caf50;
}

/* Icono Login */
.navbar .container_icon .login-icon {
    margin-left: 10px; 
}

.navbar .container_icon .login-icon a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
}

.navbar .container_icon .login-icon a:hover {
    color: #4caf50;
}

/* ------------------- CLOSE - NAVEGADOR -------------------- */




/* -------------------- OPEN CONTACTO ------------------------ */
.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.container h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.container p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700px;
}
.container a i {
    color: black;
    margin-right: 10px;
}
.container .campo, textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container form textarea {
    max-width: 550px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container .btn-enviar:hover {
    color: black;
}

/* -------------------- CLOSE CONTACTO ------------------------ */




/* -------------------- OPEN FOOTER -------------------- */
.footer {
    background-color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-content: center;
    box-shadow:  0px 2px 8px 0 gray;
}

/* Sobre Nosotros */
.footer .about h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .about ul{
    list-style: none;
}

.footer .about li a {
    color: black;
    display: flex;
    padding: 4px;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
}

.footer .about li a:hover {
    color: #4caf50;
}

/* Medios de Pago */
.footer .pay_icons {
    text-align: center;
}

.footer .pay_icons h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .pay_icons i {
    color: black;
    padding: 5px;
    font-size: 24px;
}

/* Redes Sociales */
.footer .r_social {
    text-align: center;
}

.footer .r_social h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .r_social a {
    color: black;
    padding: 4px;
    text-decoration: none;
    align-items: center;
}

.footer .r_social a i {
    font-size: 24px;
}

.footer .r_social a i:hover {
    color: #4caf50;
}

/* Enlaces de Interés */
.footer .others_links h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .others_links ul {
    list-style: none;
}

.footer .others_links a {
    color: black;
    display: flex;
    padding: 4px;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
}

.footer .others_links a:hover {
    color: #4caf50;
}

/* -------------------- CLOSE FOOTER -------------------- */




/* -------------------- OPEN COPYRIGHT -------------------- */
/* Copyright */
.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

/* -------------------- CLOSE COPYRIGHT -------------------- */