@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Config. General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: white;
  font-family: 'Open Sans', sans-serif;
  
}


/* ------------------- OPEN - HEADER -------------------- */

/* Contenedor Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
    z-index: 1000;
}

/* Contacto */
.header .contacto a {
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

.header .contacto i {
    color: white;
}

.header .contacto a:hover {
    color: #4caf50;
}

/* Redes Sociales */
.header .red-social i {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.header .red-social i:hover {
    color: #4caf50;
}

/* ------------------- CLOSE - HEADER -------------------- */


/* ------------------- OPEN - NAVEGADOR -------------------- */

.navbar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    z-index: 1000;
    box-shadow:  0px 2px 8px 0 gray;
}

/* Logotipo */
.navbar .logo img {
    width: 200px;
    height: 50px;
}

/* Links */
.navbar .links{
    display: flex;
    gap: 2rem; /*Espacio entre elementos secundarios (hijos) flexible. El valor 2rem indica que habrá un espacio de 2 unidades de tamaño de la fuente. También prodíamos poner en pixeles*/
}

.navbar .links li {
    list-style: none;
}
.navbar .links a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navbar .links a:hover {
    color: #4caf50;
}
.navbar .links i {
    color: black;
    font-size: 18px;
}
.navbar .links i:hover {
    color: #4caf50;
    cursor: pointer;
}
/* CONTENEDOR ICONOS */
.navbar .container_icon {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

/* Buscador interno */
.navbar .container_icon .search-bar form {
    display: flex;
    align-items: center;
}

.navbar .container_icon .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar .container_icon .search-bar button {
    padding: 8px;
    background-color: transparent;
    color: black; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar .container_icon .search-bar button:hover {
    color: #4caf50;
}

/* Icono Carrito */
.navbar .container_icon .cart-icon {
    margin-left: 10px; 
}

.navbar .container_icon .cart-icon a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
}

.navbar .container_icon .cart-icon a:hover {
    color: #4caf50;
}

/* Icono Login */
.navbar .container_icon .login-icon {
    margin-left: 10px; 
}

.navbar .container_icon .login-icon a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
}

.navbar .container_icon .login-icon a:hover {
    color: #4caf50;
}

/* ------------------- CLOSE - NAVEGADOR -------------------- */



/* -------------------- OPEN REGISTRO ------------------------ 
/*FONDO PÁGINA*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 50px;
}
/*--CONTENEDOR--*/
.contenedor {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Texto Iniciar Sesión*/
.contenedor {
    font-size: 1.25rem;
    color: black;
    text-align: center;
}
/*Borde Botón Datos*/
.input-contenedor {
    position: relative;
    margin: 30px 20px;
    width: 350px;
    border-bottom: 2px solid black;
}
/*Texto Datos*/
.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
/*Fondo Botón Datos*/
.input-contenedor input {
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: black;
}
/*Iconos Datos*/
.input-contenedor i {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    top: 12px;
    right: 30px;
}
/*TEXTO DATOS INFERIOR*/
/*Aceptar*/
.aceptar {
    margin: -15px 0 15px;
    font-size: .6em;
    color: black;
    display: flex;
    justify-content: center;
}
.aceptar label input {
    margin: 5px;
}
/*Olvide la Contraseña*/
.aceptar label a {
    color: red;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
    font-weight: bold;
}
.aceptar label a:hover {
    text-decoration: underline;
}
/*Botón Acceder*/
button {
    width: 75%;
    height: 45px;
    border-radius: 40px;
    background: white;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
button:hover {
    opacity: .9;
}
/*TEXTO DATOS INFERIOR*/
/*No tengo Cuenta*/
.enviar {
    font-size: .8rem;
    color: black;
    text-align: center;
    margin: 20px 0 1px;
}
/*Crea una Nueva*/
.enviar p a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: .3s;
}
.enviar p a:hover {
    text-decoration: underline;
}

/* -------------------- CLOSE REGISTRO ------------------------ 




/* -------------------- OPEN FOOTER -------------------- */
.footer {
    background-color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-content: center;
    box-shadow:  0px 2px 8px 0 gray;
}

/* Sobre Nosotros */
.footer .about h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .about ul{
    list-style: none;
}

.footer .about li a {
    color: black;
    display: flex;
    padding: 4px;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
}

.footer .about li a:hover {
    color: #4caf50;
}

/* Medios de Pago */
.footer .pay_icons {
    text-align: center;
}

.footer .pay_icons h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .pay_icons i {
    color: black;
    padding: 5px;
    font-size: 24px;
}

/* Redes Sociales */
.footer .r_social {
    text-align: center;
}

.footer .r_social h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .r_social a {
    color: black;
    padding: 4px;
    text-decoration: none;
    align-items: center;
}

.footer .r_social a i {
    font-size: 24px;
}

.footer .r_social a i:hover {
    color: #4caf50;
}

/* Enlaces de Interés */
.footer .others_links h3 {
    color: black;
    padding: 20px;
    margin-bottom: 0;
}

.footer .others_links ul {
    list-style: none;
}

.footer .others_links a {
    color: black;
    display: flex;
    padding: 4px;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
}

.footer .others_links a:hover {
    color: #4caf50;
}

/* -------------------- CLOSE FOOTER -------------------- */




/* -------------------- OPEN COPYRIGHT -------------------- */
/* Copyright */
.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

/* -------------------- CLOSE COPYRIGHT -------------------- */